@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Gianluca Vialli">

    <link rel="shortcut icon" href="~/images/skull.png" type="image/x-icon">
    <title>@ViewData["Title"] - WR KILLAR BROTHERHOOD -</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/styleIndex.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styleUserList.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styleUserDelete.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styleUserProfile.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styleComunity.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/FontAwesome/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/FontAwesome/fontawesome.min.css" asp-append-version="true" />

</head>

<body>

    <header>

        <nav class="navbar fixed-top navbar-expand-lg navbar-toggleable-sm navbar-dark bg-primary border-bottom">

            <div class="container">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">- WR KILLAR BROTHERHOOD
                    -</a>

                @if (Context.Session.GetString("login") != null)
                {
                    <a class="showUser btn btn-sm btn-outline-light" asp-area="" asp-controller="Users"
                    asp-action="UserProfile">Olá,
                        @Context.Session.GetString("login")</a>
                }

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">

                    <span class="navbar-toggler-icon"></span>

                </button>

                <div class="collapse navbar-collapse" id="navbarNavDropdown">

                    <ul class="navbar-nav ml-auto mr-5 text-center">

                        @if (Context.Session.GetString("login") == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link ml-2" asp-controller="Home" asp-action="Index"><i
                                    class="fa-solid fa-house"></i> Home
                                    <span class="sr-only">(current)</span></a>
                            </li>

                            <li class="nav-item ml-2">
                                <a class="nav-link" asp-controller="Users" asp-action="RegisterUser"><i
                                    class="fa-solid fa-user-plus"></i> Cadastre-se</a>
                            </li>

                            <li class="nav-item ml-2">
                                <a class="nav-link" asp-controller="Home" asp-action="Login"><i
                                    class="fa-solid fa-right-to-bracket"></i> Login</a>
                            </li>


                        }
                        @if (Context.Session.GetInt32("type") == 0)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="" asp-action=""><i class="fa-solid fa-house"></i> Home
                                    <span class="sr-only">(current)</span></a>
                            </li>

                            <li class="nav-item dropdown">

                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-skull-crossbones"></i> Área Restrita
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                    <a class="dropdown-item" asp-controller="Users" asp-action="RegisterUser"><i
                                        class="fa-solid fa-user-plus"></i> Cadastrar Usuários</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-controller="Posts" asp-action="PostList"><i
                                        class="fa-solid fa-envelopes-bulk"></i> Posts Cadastrados</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-controller="Users" asp-action="UserList"><i
                                        class="fa-solid fa-list-check"></i> Usuários Cadastrados</a>

                                </div>

                            </li>

                            <li class="nav-item dropdown">

                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-gamepad"></i> Àrea Player</a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                    <a class="dropdown-item" asp-controller="" asp-action=""><i
                                        class="fa-solid fa-user-secret"></i> Sobre a Killar</a>

                                    <div class="dropdown-divider"></div>

                                    <a class="dropdown-item" asp-controller="Users" asp-action="Comunity"><i
                                        class="fa-solid fa-people-group"></i> Comunidade</a>

                                    <div class="dropdown-divider"></div>

                                    <a class="dropdown-item" asp-controller="Users" asp-action="UserProfile"><i
                                        class="fa-solid fa-user-ninja"></i> Meu Perfil</a>

                                </div>

                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Users" asp-action="Logout"><i
                                    class="fa-solid fa-door-open"></i> Sair</a>
                            </li>

                        }
                        @if (Context.Session.GetInt32("type") == 1)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="" asp-action=""><i class="fa-solid fa-house"></i> Home
                                    <span class="sr-only">(current)</span></a>
                            </li>

                            <li class="nav-item dropdown">

                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa-solid fa-gamepad"></i> Área player
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                    <a class="dropdown-item" asp-controller="" asp-action=""><i
                                        class="fa-solid fa-user-secret"></i> Sobre a Killar</a>

                                    <div class="dropdown-divider"></div>

                                    <a class="dropdown-item" asp-controller="Users" asp-action="Comunity"><i
                                        class="fa-solid fa-people-group"></i> Comunidade</a>

                                    <div class="dropdown-divider"></div>

                                    <a class="dropdown-item" asp-controller="Users" asp-action="UserProfile"><i
                                        class="fa-solid fa-user-ninja"></i> Meu Perfil</a>

                                </div>

                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Users" asp-action="Logout">
                                    <i class="fa-solid fa-door-open"></i> Sair</a>
                            </li>

                        }

                    </ul>

                </div>

            </div>

        </nav>

    </header>

    <div style="align-items: center;" class="container-fluid mt-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center">

        <div class="container-fluid">

            <a href=""><i class="fa-regular fa-calendar-days"></i></a> <a href="">- @DateTime.Now.ToString("dd/MM/yyyy")
                - </a> <a href="https://github.com/Gianluca-Vialli"><i class="fa-brands fa-github"></i>
                Gianluca-Vialli</a> - <a href="https://www.linkedin.com/in/gianluca-vialli-5a2a8a226/"><i
                    class="fa-brands fa-linkedin"></i> My
                LinkedIn</a>

        </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jsRegisterUser.js" asp-append-version="true"></script>
    <script src="~/js/FontAwesome/all.min.js" asp-append-version="true"></script>
    <script src="~/js/FontAwesome/fontawesome.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

</body>

</html>
