@model List<Posts>
@using Killar.Models;
@{
    ViewData["Title"] = "Bem Vindos à Killar Community";

    var post = new Posts();
}


<body class="text-center">

    <main role="main">

        <div class="cold-md-10">
            <partial name="_RegisterPost" model="@post" />
        </div>

        <div class="container-fluid community col-md-6 offset-md-3">
            @foreach (Posts item in Model)
            {
                <div class="col-md-10 comunity-container">

                    <article id="post-@item.Id" class="article text-justify">

                        <span class="post-author mt-5">@item.Author</span>

                        <span class="post-date mt-5">@item.PostDate</span>

                        <hr class="">

                        <div class="post-content mt-4 mb-4">

                            <p>@item.Content</p>

                        </div>

                    </article>

                    <section id="comments-@item.Id" class="comments">

                            <h4 class="comente">Comente nesta publicação:</h4>

                            <partial name="_CommentForm" model="@item.Id" />

                    </section>

                </div>

                <div class="col-md-10">

                    <div class="modal-comment">

                        <section id="comments-@item.Id" class="comments">

                            <partial name="_CommentList" model="@item.Comment" />

                        </section>

                    </div>

                </div>

                <hr class="">
            }

        </div>

    </main>

</body>