@using Microsoft.AspNetCore.Http;

@model Users

@{
    ViewData["Title"] = "Cadastro de Usuário";
}

<body class="text-center register-body">

    <div class="container-fluid col-xl-10 col-lg-10 col-sm-12">

        <form name="formuser" method="post" asp-controller="Users" asp-action="RegisterUser" class="register-form">

            <h1 class=" mb-5">Cadastre-se</h1>

            <!--<img class="mb-4 img-fluid" src="../images/friend-cadastro.png"
                    alt="Imagem de fundo RegisterUser Page">-->

            <div class="row">

                <div class="col-md-6 mb-4">

                    <input placeholder="Seu Nome" id="name" asp-for="Name" type="text" class="form-control" required>

                </div>

                <div class="col-md-6 mb-4">

                    <input placeholder="Data de Nascimento" id="birthDate" asp-for="BirthDate" type="date"
                        class="form-control" required>

                </div>

                <div class="col-md-6 mb-4">

                    <input placeholder="Nick Wr(aaaa#0000)" id="loginWr" asp-for="LoginWr" type="text"
                        class="form-control" required>

                </div>

                <div class="col-md-6 mb-4">

                    <input placeholder="Nick Name" id="loginName" asp-for="LoginName" type="text" class="form-control"
                        required>

                </div>

                <div class="col-md-6 mb-4">

                    <input placeholder="Crie sua senha" id="password" asp-for="Password" type="password"
                        class="form-control" required>

                </div>

                <div class="col-md-6 mb-4">

                    <input placeholder="Repita a senha" id="checkedPassword" asp-for="CheckedPassword" type="password"
                        class="form-control" required>

                </div>

            </div>

            <div class="row">

                <div class="col-md-12 mb-3">

                    <select class="custom-select dropdown-select d-block w-100" asp-for="Elo" for="Elo" id="elo"
                        required>

                        <option value="">Elo Atual...</option>

                        <option asp-for="Elo" for="Elo" value="Ferro">Ferro</option>
                        <option asp-for="Elo" for="Elo" value="Bronze">Bronze</option>
                        <option asp-for="Elo" for="Elo" value="Ouro">Ouro</option>
                        <option asp-for="Elo" for="Elo" value="Platina">Platina</option>
                        <option asp-for="Elo" for="Elo" value="Esmeralda">Esmeralda</option>
                        <option asp-for="Elo" for="Elo" value="Diamante">Diamante</option>
                        <option asp-for="Elo" for="Elo" value="Mestre">Mestre</option>
                        <option asp-for="Elo" for="Elo" value="Grão-Mestre">Grão-Mestre</option>
                        <option asp-for="Elo" for="Elo" value="Desafiante">Desafiante</option>

                    </select>

                    <div class="invalid-feedback">
                        Please provide a valid state.
                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-md-12 mb-3">

                    <select class="custom-select dropdown-select d-block w-100" asp-for="Lane" for="Lane" id="lane"
                        required>

                        <option value="">Lane Principal...</option>

                        <option asp-for="Lane" for="Lane" value="Suporte">Suporte</option>
                        <option asp-for="Lane" for="Lane" value="AD Carry">AD Carry</option>
                        <option asp-for="Lane" for="Lane" value="Mid Lane">Mid Lane</option>
                        <option asp-for="Lane" for="Lane" value="Jungle">Jungle</option>
                        <option asp-for="Lane" for="Lane" value="Top Lane">Top Lane</option>

                    </select>

                    <div class="invalid-feedback">
                        Please provide a valid state.
                    </div>

                </div>

                @if (Context.Session.GetInt32("type") == 0)
                {
                    <div class="col-md-12 mb-3">

                        <select class="custom-select dropdown-select d-block w-100" asp-for="Tipo" for="Tipo" id="tipo"
                        required>

                            <option value="">Nível de Usuário ...</option>

                            <option asp-for="@Users.ADMIN" for="ADMIN" value="@Users.ADMIN">Administrador</option>
                            <option asp-for="@Users.PADRAO" for="PADRAO" value="@Users.PADRAO">Padrão</option>

                        </select>

                        <div class="invalid-feedback">
                            Please provide a valid state.
                        </div>

                    </div>
                }

                @if (Context.Session.GetString("login") == null || Context.Session.GetInt32("type") == 1)
                {
                    <div class="col-md-12 mb-3">

                        <select class="custom-select dropdown-select d-block w-100" asp-for="Tipo" for="Tipo" id="tipo"
                        required>

                            <option value="">Nível de Usuário ...</option>
                            <option asp-for="@Users.PADRAO" for="PADRAO" value="@Users.PADRAO">Padrão</option>

                        </select>

                        <div class="invalid-feedback">
                            Please provide a valid state.
                        </div>

                    </div>
                }

            </div>

            <input name="Id" type="hidden" asp-for="Id">
            <input value=@Context.Session.GetInt32("IdUser") type="hidden" asp-for="Id">

            <button class="btn btn-outline-primary btn-lg btn-block mt-5" type="submit"
                onclick="return ValidateFormUserRegister()">Cadastre-se</button>

            <div class="mt-5 frase">

                <p>Já se cadastrou? <a asp-controller="Home" asp-action="Login" style="color: #007bff;">Entrar</a>
                </p>

            </div>

        </form>

    </div>

</body>