@using Microsoft.AspNetCore.Http

@model ICollection<Users>

@{
    ViewData["Title"] = "Listagem De Usuarios Cadastrados";
}

<body class="text-center">

    <main role="main userFormList-container">

        <div class="container-fluid ">

            <div class="row">

                <div class="col-md-10 col-xl-10 col-lg-10 col-sm-10 userFormList">

                    <h2 class="mb-4">Lista de Usuários Cadastrados</h2>

                    <table
                        class=" table table-responsive table-bordered table-striped table-light text-center">

                        <thead class="thead-dark text-center">

                            <tr>
                                <th>Id</th>
                                <th>Nome</th>
                                <th>Data de Nascimento</th>
                                <th>Nick WR</th>
                                <th>Nome de Usuário</th>
                                <th>Senha</th>
                                <th>Lane</th>
                                <th>Elo</th>
                                <th>Tipo</th>

                            </tr>

                        </thead>

                        <tbody>

                            @foreach (Users u in Model)
                            {
                                <tr>
                                    <td>@u.Id</td>
                                    <td>@u.Name</td>
                                    <td>@u.BirthDate</td>
                                    <td>@u.LoginWr</td>
                                    <td>@u.LoginName</td>
                                    <td>@u.Password</td>
                                    <td>@u.Lane</td>
                                    <td>@u.Elo</td>
                                    <td>@u.Tipo</td>

                                    <td><a href="/Users/UserEdit?id=@u.Id"><i class="fa-solid fa-user-pen"></i></a></td>
                                    <td><a href="/Users/UserDelete?id=@u.Id"><i class="fa-solid fa-user-xmark"></i></a></td>
                                </tr>
                            }
                        </tbody>

                    </table>

                    <a class="btn btn-lg btn-dark mt-4" href="/Users/RegisterUser">Cadastrar um novo usuario</a>

                </div>
                
            </div>

        </div>

    </main>

</body>
