@model List<Posts>

@{
    ViewData["Title"] = "Listagem De Usuários Cadastrados";

    int postsPerPage = Int32.Parse(ViewData["postsPerPage"].ToString());
    int currentPage = Int32.Parse(ViewData["currentPage"].ToString());
    int postsNumberPerPage = (Model.Count < postsPerPage ? Model.Count : postsPerPage);

    int pagesTotalNumber = 0;

    if (postsNumberPerPage > 0)
    {
        pagesTotalNumber = Model.Count / postsNumberPerPage + (Model.Count % postsNumberPerPage == 0 ? 0 : 1);
    }
}

<body class="text-center">

    <main role="main userFormList-container">

        <div class="container-fluid ">

            <div class="row">

                <div class="col-md-10 col-xl-10 col-lg-10 col-sm-10 userFormList">

                    <div class="row">
                        <div class="col-md-12">
                            <form asp-controller="Posts" asp-action="PostList" method="POST">

                                <div class="form-group mb-3 md-12">

                                    <p style="float:left; margin-right:10px;">
                                        <!-- *********** Retirar estilos in-line *********** -->

                                        <label style="color: #fff; margin-left: -250px; font-weigth: bold;"
                                            for="">Filtrar Por:</label>

                                        <select name="FilterType" class="form-control mb-3">
                                            <option value="Nome">Autor</option>
                                            <option value="Conteudo">Conteúdo</option>
                                        </select>

                                        <label style="color: #fff; margin-left: -190px; font-weigth: bold;"
                                            for="">Quantidade a Exibir:</label>

                                        <select class="form-control mb-3" name="itemsPerPage" id="itemsPerPage">

                                            <option value="8">/8</option>
                                            <option value=@Model.Count> Todos os Posts</option>

                                        </select>

                                        <input type="text" class="btn btn-md btn-light text-justify mr-3"
                                            placeholder="Busque por Postagens" name="Filter" class="form-control" />
                                        <button class="btn btn-md btn-dark" type="submit">Pesquisar</button>

                                    </p>

                                </div>

                            </form>

                        </div>

                        @if (Model.Count != 0)
                        {

                            <table class=" table table-responsive table-bordered table-striped table-light text-center">

                                <thead class="thead-dark text-center">

                                    <tr>

                                        <th>Id</th>
                                        <th>Autor</th>
                                        <th>Data da Postagem</th>
                                        <th>Conteúdo</th>

                                    </tr>

                                </thead>

                                <tbody class="text-justify">

                                    @for (int i = (currentPage - 1) * postsNumberPerPage; i < (postsNumberPerPage *
                                   currentPage < Model.Count ? postsNumberPerPage * currentPage : Model.Count); i++)
                                    {
                                        var stringLength = @Model[i].Content.Length;
                                        var indexOf = @Model[i].Content.IndexOf("");
                                        var subIndex = @Model[i].Content.Substring(indexOf, @Model[i].Content.Length / 2);

                                        if (stringLength >= 150)
                                        {

                                            <tr>

                                                <td>@Model[i].Id</td>
                                                <td>@Model[i].Author</td>
                                                <td>@Model[i].PostDate.ToString("dd/MM/yyyy")</td>
                                                <td>@subIndex</td>

                                                <td><a href="/Posts/PostEdit?id=@Model[i].Id"><i
                                                class="fa-solid fa-user-pen"></i></a></td>
                                                <td><a href="/Posts/PostDelete?id=@Model[i].Id"><i
                                                class="fa-solid fa-user-xmark"></i></a>
                                                </td>

                                            </tr>

                                        }
                                        else
                                        {

                                            <tr>

                                                <td>@Model[i].Id</td>
                                                <td>@Model[i].Author</td>
                                                <td>@Model[i].PostDate</td>
                                                <td>@Model[i].Content</td>

                                                <td><a href="/Posts/PostEdit?id=@Model[i].Id"><i
                                                class="fa-solid fa-user-pen"></i></a></td>
                                                <td><a href="/Posts/PostDelete?id=@Model[i].Id"><i
                                                class="fa-solid fa-user-xmark"></i></a>
                                                </td>

                                            </tr>

                                        }

                                    }

                                </tbody>

                            </table>

                            <div class="filterButton-container">

                                <p>Páginas : </p>

                                @for (int i = 1; i <= pagesTotalNumber; i++)
                                { // paginação cria os links para as páginas
                                    <a class="btn btn-sm btn-outline-primary" href="/Posts/PostList?currentPage=@i">@i</a>

                                }

                            </div>

                        }
                        else
                        {
                            <strong class="text-center">Nenhum registro encontrado</strong>
                        }

                    </div>

                    <div style="margin-top: 45px;">
                        <a class="btn btn-lg btn-dark" href="/Users/RegisterUser">Cadastrar um novo usuario</a>
                    </div>

                </div>

            </div>

    </main>

</body>
